@import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.css");
@import url("https://webfontworld.github.io/pretendard/Pretendard.css");

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;

  font-family: "Palatino", "Pretendard";
}

#__next {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

b {
  font-weight: bold;
}
